<body>  
    <div class="container-fluid text-center">
      <div class="row">
        <div class="row d-flex justify-content-start col"><img class="logo" src="assets/image.png"></div>
      </div>
  
      <div class="d-flex row">
        <div class="col elemento">
          <h1 class="cor_letras">O QUE TE IMPEDE DE VIVER A VIDA QUE VOCÊ DESEJA?</h1>
          <span class="cor_escrita_secundaria flex-fill">________________________________________________</span>
          <h5 class="cor_dos_botoes flex-fill">Vamos juntas encontra a força que existe em você</h5>
        </div>
      <div class="col">
        <div><img class="test" src="assets/telaPrincipal/telaprincipal.png"></div>   
      </div>
      </div>

      <!-- <div class="btn-group row" role="group" aria-label="Basic example">
        <button type="button" class="btn button1 col" onclick="instagram()">SOBRE MIM</button>
        <button type="button" class="btn button1 col" onclick="instagram()">ABORDAGEM TERAPEUTICA</button>
        <button type="button" class="btn button1 col" onclick="instagram()">AGENDAR SESSÃO</button>
        <button type="button" class="btn button1 col" onclick="instagram()">FAQ</button>
      </div> -->
  
  
      <nav class="navbar fixed-bottom navbar-expand-lg navbar-light button2 d-flex row">
        <a class="navbar-brand button1 col" href="#">SOBRE MIM</a>    
        <a class="navbar-brand button1 col" href="#">ABORDAGEM TERAPEUTICA</a>
        <a class="navbar-brand button1 col" href="#">AGENDAR SESSÃO</a>
  
        <a class="navbar-brand button1 col" href="#">FAQ</a>
      </nav>
    </div>
    </body>