<!-- <router-outlet></router-outlet>
<app-tela-sobre-mim></app-tela-sobre-mim>
<app-tela-faq></app-tela-faq>
<app-tela-agendar></app-tela-agendar>
<app-tela-abordagem></app-tela-abordagem> -->

<body>
    <div>
      <div class="content">
          <div class="posicao_logo">
              <img src="/assets/logo_teste.png" alt="gabiPsicologia" class="logo-psicologia">
          </div>
        <div class="posicao_frase">
            <span class="frase-psicologia1">O QUE TE IMPEDE DE VIVER A VIDA</span><br><span class="frase-psicologia1">QUE VOCÊ DESEJA?</span>
            <br>
            <span class="frase-psicologia2"><b>___________________________________</b></span>
            <br>
            <span class="frase-psicologia3">Vamos juntas encontra a força</span><br><span class="frase-psicologia3">que existe em você</span>
        </div>
        <div class="logo-and-buttons">
        <div class="button-group">
          <a href="https://www.instagram.com/psi_procopio?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank" class="button">
            <img src="assets/insta_preto.png" alt="Instagram Logo" class="logo">
            Instagram
          </a>
          <a href="https://wa.me/5511984210341" target="_blank" class="button">
            <img src="assets/whats_preto.png" alt="WhatsApp Logo" class="logo">
            WhatsApp
          </a>
          <a href="https://forms.office.com/r/1TKh22Y2a2" target="_blank" class="button">
            <img src="assets/catalogo1_preto.png" alt="Catálogo Logo" class="logo">
            Agenda
          </a>
        </div>
      </div>
      </div>
    </div>
</body>