<body>  
    <div class="container-fluid">
      <div class="row">
        <div class="row d-flex justify-content-start col"><img class="logo" src="assets/logo_gabi-procopio2.png"></div>
      </div>
  
      <div class="d-flex row">
        <div class="col text-center">
            <div><img src="assets/sobreMim/sobre_mim_1.png"></div>
        </div>
      <div class="col elemento">
        <h1 class="cor_letras">Sobre mim</h1>
          <p class="Sobre_mim">Gabriela Procopio<br>CRP: 06/168390<br></p>
          <p class="Sobre_mim">Sou formada em Psicologia pelo Centro Universitário São Camilo e atuo com a <b>abordagem da Terapia Cognitivo-Comportamental</b> (TCC). Minha prática é focada no <b>atendimento de mulheres em diferentes fases da vida</b>, desde adolescência até a terceira idade.<br></p>
          <p class="Sobre_mim">Acredito que cada etapa da vida traz seus próprios desafios e oportunidades de crescimento, meu objetivo é oferecer um espaço acolhedor e seguro para explorar essas questões.<br></p>            
          <p class="Sobre_mim">Minha missão é ajudar você a encontrar clareza, desenvolver novas perspectivas e construir as habilidades necessárias para lidar com as demandas do dia-a-dia, promovendo bem-estar e autoconfiança.</p>
      </div>
      </div>
    </div>
    </body>